<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/Layout :: base(title='Favourites')}">
<body th:fragment="content">
<div class="resultButtons">
    <h4>Омилени</h4>
    <div class="buttons">
        <button class="listButton">Винарии</button>
        <form th:action="@{'/favorites/map'}" method="post" style="display: inline-block">
            <button class="mapButton">Мапа<i class="fa-regular fa-map"></i></button>
        </form>
    </div>
</div>
<div th:each="winery : ${wineries}" class="container bg-body-secondary mb-3 p-4">
    <span class="float-end">
        <button th:data-winery-id="${winery.getId()}" onclick="addToFavorites(this)"
        class="border-0 bg-transparent">&#10084;</button>
    </span>
    <a th:href="@{'/wineries/' + ${winery.getId()}}" th:text="${winery.getName()}" class="text-dark h3 d-inline-block mb-3"></a>
    <br>
    <span class="p-4">
          <strong>Адреса:</strong> <span th:text="${winery.getAddress()()}"></span>
    </span>
    <br>
    <span class="p-4">
            <strong>Град:</strong> <span th:text="${winery.getCity().getName()}"></span>
    </span>
    <br>
    <span class="p-4">
            <strong>Работно време:</strong> <span th:text="${winery.getWorkingTime()}"></span>
    </span>
</div>
<script th:src="@{/js/favoriteButton.js}" defer="defer"></script>
</body>
</html>
