<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/Layout :: base(title=${winery.getName()})}">
<body th:fragment="content">

<!-- Details -->
<div class="container bg-body-secondary mb-3 p-4">
    <h3 th:text="${winery.getName()}"></h3>
    <br>
    <div class="row">
        <!-- Left box -->
        <div class="col-md-6">
            <span class="p-4">
                    <strong>Адреса:</strong> <span th:text="${winery.getAddress()}"></span>
                </span>
            <br>
            <span class="p-4">
                    <strong>Град:</strong> <span th:text="${winery.getCity().getName()}"></span>
                </span>
            <br>
            <span class="p-4">
                    <strong>Оддалеченост:</strong>
                    <span class="distance_winery" th:data-winery="${winery}">Не може да се пресмета</span>
             </span>

            <br>
            <span class="p-4">
                    <strong>Работно време:</strong> <span th:text="${winery.getWorkingTime()}"></span>
                </span>
            <br>
            <span class="p-4">
                    <strong>Дејности:</strong> <span th:text="${winery.getWineryTypesAsString()}"></span>
                </span>
            <br>
            <span class="p-4">
                    <strong>Веб страница:</strong> <span th:text="${winery.getWebsite()}"></span>
                </span>
            <br>
        </div>

        <!-- Right box -->
        <div class="col-md-6">
                <span class="p-4">
                    <strong>Телефон:</strong>
                    <i class="fas fa-phone-alt"></i> <!-- FontAwesome phone icon -->
                    <span th:text="${winery.getPhoneNumber()}"></span>
                </span>
            <br>
            <span class="p-4">
                    <strong>Интернационален телефон:</strong> <span
                    th:text="${winery.getInternationalPhoneNumber()}"></span>
                </span>
            <br>
            <span class="p-4">
                    <strong>Омилено: </strong>
                    <span th:data-winery-id="${winery.getId()}" onclick="addToFavorites(this)" id="favourite_container">
                        <i class="far fa-heart" style="color: red"></i>
                    </span>
            </span>

<!--            Add review rating form button should be right here-->
            <button class="btn btn-primary" onclick="openReviewForm()">Add Review</button>
            <div th:replace="~{fragments/ReviewForm :: #reviewModal(wineryId=${winery.getId()})}"></div>
            <script defer="defer">
                function openReviewForm() {
                    let modal = document.getElementById('reviewModal');
                    modal.classList.add('show');
                    modal.style.display = 'block';
                }
            </script>
<!--            -->
        </div>
    </div>
</div>

<!-- Reviews -->
<div class="container bg-body-secondary mb-3 p-4">
    <h3 th:text="${'Резиме на рецензии'}"></h3>
    <div class="container bg-body-primary mb-3 p-4">
        <div class="row">

            <!--        Ratings Summary-->
            <div class="col-md-6">
                <table>
                    <tr th:each="rating : ${#numbers.sequence(5, 1, -1)}">
                        <td th:text="${rating}" style="padding-right: 5px;"></td>
                        <td>
                            <!-- Calculate the percentage of reviews with this rating -->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" th:style="'width: ' + ${winery.getRating(rating)} + '%; background-color: orange;'">
                                    <div style="width: 20em; background-color: grey;"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!--        Average Rating-->
            <div class="col-md-6">
                <h4 th:text="${winery.getRating().toString().replace('.',',')}" style="font-size: 2.3em"></h4>
                <div th:replace="~{fragments/StarRating :: rating(${winery.getRating()}, '1.2em')}"></div>
                <div th:text="${winery.getTotalReviews()} + ' рецензии'"></div>
            </div>

        </div>
    </div>
    <div class="container bg-body-primary mb-3 p-4 review-section" th:each="review, rowStat : ${reviews}">
        <!-- Add a class to the div to apply a slightly darker background color -->
        <section>
            <span th:text="${review.getAuthor().getName() + ' ' + review.getAuthor().getSurname()}"></span><br>
            <div th:replace="~{fragments/StarRating :: rating(${review.getRating()}, '1em')}"></div>
            <span th:text="${review.getDate()}"></span><br>
            <span th:text="${review.getContent()}"></span><br>
        </section>
    </div>
</div>
<!---->
<script th:src="@{/js/geolocation.js}" defer="defer"></script>
<script th:src="@{/js/favoriteButton.js}" defer="defer"></script>
</body>
</html>
