<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{base/Layout :: base(title='Wineries')}">
<body>
<main class="wineriesListed wineriesNoPadding" th:fragment="content">
    <div></div>
    <div class="resultButtons">
        <p>Пребарувањето врати <span th:text="${wineries.size()}"></span> резултати</p>
        <div class="buttons">
            <button class="listButton">Винарии</button>
            <form th:action="@{'/wineries/map'}" method="post" style="display: inline-block">
                <button class="mapButton">Мапа<i class="fa-regular fa-map"></i></button>
            </form>
        </div>
    </div>
    <div class="searchResults">
        <div class="searchFilter">
            <div class="title">Винарии со името</div>
            <p th:text="${searchName != null && !searchName.isEmpty()? searchName: 'Било кое'}"></p>
        </div>
        <div class="searchFilter" th:if="${searchRating != null && searchRating != 0}">
            <div class="title">Винарии со рејтинг над</div>
            <p th:text="${searchRating}"></p>
        </div>
        <div class="searchFilter" th:if="${searchDistance != null && searchDistance != 300}">
            <div class="title">Винарии на оддалеченост до</div>
            <p th:text="${searchDistance}"></p>
        </div>
        <div class="searchFilter" th:if="${searchCity != null}">
            <div class="title">Винарии во</div>
            <p th:text="${searchCity}"></p>
        </div>
        <form th:action="@{/wineries}" th:method="post">
        <div class="searchFilter">
            <div class="title">Подредено според</div>
            <div>
                <label for="radio_distance">
                    <input type="radio" name="sort" id="radio_distance" value="distance">
                    Оддалеченост
                </label>
                <label for="radio_rating">
                    <input type="radio" name="sort" id="radio_rating" value="rating">
                    Рејтинг
                </label>
                <label for="radio_popularity">
                    <input type="radio" name="sort" id="radio_popularity" value="popularity">
                    Популарност
                </label>
            </div>
        </div>
        <div class="searchFilter">
            <div class="title">Пребарување по град</div>
            <div>
                <label for="1">
                    <input type="radio" name="location" id="1" value="Штип">
                    Штип
                </label>
                <label for="2">
                    <input type="radio" name="location" id="2" value="Скопје">
                    Скопје
                </label>
                <label for="3">
                    <input type="radio" name="location" id="3" value="Велес">
                    Велес
                </label>
                <label for="4">
                    <input type="radio" name="location" id="4" value="Свети Николе">
                    Свети Николе
                </label>
            </div>
        </div>
        <div>
            <button type="submit">Најди</button>
        </div>
        </form>
    </div>
    <div class="wineries">
        <div class="winery" th:each="winery: ${wineries}">
            <h1 class="title" th:href="'/wineries/'+${winery.getId()}">
                <a th:href="'/wineries/' + ${winery.getId()}">
                    <span class="text" th:text="${winery.getName()}"></span>
                </a>
            </h1>

            <div class="left_part">
                <p><b>Адреса:</b><span th:text="${winery.getAddress()}"></span></p>
                <p><b>Град:</b><span th:text="${winery.getCity().getName()}"></span></p>
                <!--                    getDistance metod sega za sega fiksno-->
                <p><b>Оддалеченост:</b>
<!--                    <span class="distance_winery" th:data-winery="${winery}">Не може да се пресмета</span>-->
                     <span class="distance_winery" th:data-winery-id="${winery.getId()}" th:data-winery-lat="${winery.getLatitude()}" th:data-winery-lng="${winery.getLongitude()}">Не може да се пресмета</span>
                </p>
                <p><b>Работно време:</b><span th:text="${winery.getWorkingTime()}"></span></p>
            </div>
            <div class="right_part">
                <form th:action="@{/change-favorite}" method="post" th:id="${'favoriteForm' + wineries.indexOf(winery)}">
                    <input type="hidden" name="wineryId" th:value="${winery.getId()}">
                    <p class="favourite_container">
                        <i class="far fa-heart"></i>
                    </p>
                </form>
                <p>
                    <i class="fas fa-star"></i>
                    <span th:text="${winery.getReviewsAsString()}"></span>
                </p>
            </div>
        </div>
    </div>
    <a href="/wineries/add" class="add-winery-button" sec:authorize="isAuthenticated()">
        <button>Add winery</button>
    </a>
    <script th:src="@{/js/geolocation.js}" defer></script>
    <script th:src="@{/js/favoriteButton.js}" defer="defer"></script>
</main>
</body>
</html>

