.main {
    padding: 8em !important;
    padding-top: 0 !important;
}

.listButton{
    background-color: var(--darker-color);
}

.mapButton{
    background-color: var(--lighter-color);
}

.resultButtons > *{
    margin: 0.5em 0;
}

.resultButtons button{
    padding: 1em 2.5em;
    border: none;
    border-radius: 0.5em;
}

.resultButtons button > i{
    margin-left: 0.5em;
}

.fa-heart{
    color: red;
    cursor: pointer;
}