*{
    margin: 0;
    padding: 0;
}
:root{
    --darker-color: #c0c0c0;
    --lighter-color: #d9d9d9;
}

.wineriesListed{
    padding: 0 10% 10%;
    display: grid;
    grid-template-columns: 19.5% 79.5%;
    column-gap: 1%;
    row-gap: 2%;
}
.wineriesListed .wineries{
    width: 100%;
}
.wineriesListed .winery{
    padding: 1em 2.5em;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.wineriesListed .winery:nth-child(odd){
    background-color: var(--lighter-color);
}
.wineriesListed .winery:nth-child(even){
    background-color: var(--darker-color);
}
.wineriesListed .right_part{
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
}
.wineriesListed .winery .title{
    margin-bottom: 0.5em;
    grid-column: 1/3;
    text-decoration: underline;
}
.wineriesListed .winery a{
    text-decoration: none;
    color: black;
}
.wineriesListed .winery .title .text{
    display: inline-block;
}
.wineriesListed .winery .title .text::after{
    content: '';
    display: block;
    height: 0.1em;
    width: 105%;
    margin-top: 0.1em;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0.5em;
}
.wineriesListed .winery p{
    margin: 0.2em;
    position: relative;
}
.wineriesListed .winery p span{
    margin-left: 0.2em;
}
.wineriesListed .fa-heart{
    color: red;
    position: absolute;
    right: 0.1em;
}
.wineriesListed .winery:nth-child(even) .empty-heart{
    opacity: 0;
}
.wineriesListed .winery:nth-child(odd) .full-heart{
    opacity: 0;
}
.wineriesListed .fa-star{
    color: yellow;
}
.wineriesListed .searchResults{
    width: 100%;
}
.wineriesListed .searchFilter:not(:nth-child(1)){
    margin: 1em 0;
}
.wineriesListed .searchFilter{
    background-color: var(--lighter-color);
    border-radius: 0.5em;
}
.wineriesListed .searchFilter .title{
    padding: 1em 1.5em;
    font-weight: bold;
    background-color: var(--darker-color);
    border-radius: 0.5em;
}
.wineriesListed .searchFilter p{
    padding: 0.5em 1.5em;
}
.wineriesListed .searchFilter div{
    padding: 0.5em 1.5em;
}
.wineriesListed .searchFilter div label{
    display: block;
}
.wineriesListed .resultButtons > *{
    margin: 0.5em 0;
}
.wineriesListed button{
    padding: 1em 2.5em;
    border: none;
    border-radius: 0.5em;
}
.wineriesListed button > i{
    margin-left: 0.5em;
}
.wineriesListed button:nth-child(1){
    background-color: var(--darker-color);
}
.wineriesListed button:nth-child(1){
    background-color: var(--lighter-color);
}
/* we can add class fas or far depending if the winery is in favorites */