<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/Layout :: base(title='FavouritesMap')}">
<!-- START LEAFLET library -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<!-- END LEAFLET LIBRARY -->

<style>
    body{
        display: grid;
        height: 100vh;
        place-items: center;
    }
    #map{
        height: 100vh;
        width: 100%;
    }
</style>
<!--<script src="./static/js/drawFavouritesMap.js" defer></script>-->
<body th:fragment="content">
    <div id="map"></div>
</body>
</html>
