<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/Layout :: base(title=${winery.getName()})}">
<body th:fragment="content">
<div class="container bg-body-secondary mb-3 p-4">
    <h3 th:text="${winery.getName()}"></h3>
    <br>
    <span class="p-4">
        <strong>Адреса:</strong> <span th:text="${winery.getAddress()}"></span>
    </span>
    <br>
    <span class="p-4">
        <strong>Град:</strong> <span th:text="${winery.getCity().getName()}"></span>
    </span>
    <br>
    <span class="p-4">
        <strong>Работно време:</strong> <span th:text="${winery.getWorkTime()}"></span>
    </span>
    <br>
    <span class="p-4">
        <strong>Омилено: </strong>
        <button th:data-winery-id="${winery.getId()}" onclick="addToFavorites(this)"
        class="border-0 bg-transparent">&#10084;</button>
    </span>
</div>
<script th:src="@{/js/favoriteButton.js}" defer="defer"></script>
</body>
</html>
