<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/Layout :: base(title='Wineries')}">
<link rel="stylesheet" href="../static/css/wineriesListed.css">
<body>
<main class="wineriesListed" th:fragment="content">
    <div></div>
    <div class="resultButtons">
        <p>Пребарувањето врати 5 резултати</p>
        <div class="buttons">
            <button>Винарии</button>
            <button>Мапа<i class="fa-regular fa-map"></i></button>
        </div>
    </div>
    <div class="searchResults">
        <div class="searchFilter">
            <div class="title">Пребарување по името</div>
            <p>Било кое</p>
        </div>
        <div class="searchFilter">
            <div class="title">Подредено според</div>
            <div>
                <label for="distance">
                    <input type="radio" name="sort" id="distance">
                    Оддалеченост
                </label>
                <label for="open">
                    <input type="radio" name="sort" id="open">
                    Отворено
                </label>
                <label for="rating">
                    <input type="radio" name="sort" id="rating">
                    Рејтинг
                </label>
                <label for="popularity">
                    <input type="radio" name="sort" id="popularity">
                    Популарност
                </label>
            </div>
        </div>
        <div class="searchFilter">
            <div class="title">Пребарување по град</div>
            <div>
                <label for="1">
                    <input type="radio" name="city" id="1">
                    Штип
                </label>
                <label for="2">
                    <input type="radio" name="city" id="2">
                    Скопје
                </label>
                <label for="3">
                    <input type="radio" name="city" id="3">
                    Велес
                </label>
                <label for="4">
                    <input type="radio" name="city" id="4">
                    Свети Николе
                </label>
            </div>
        </div>
    </div>
    <div class="wineries">
        <div class="winery" th:each="winery: ${wineries}">
            <h1 class="title" th:href="'/wineries/'+${winery.getId()}">
                <a th:href="'/wineries/' + ${winery.getId()}">
                    <span class="text" th:text="${winery.getName()}"></span>
                </a>
            </h1>

            <div class="left_part">
                <p><b>Адреса:</b><span th:text="${winery.getAddress()}"></span></p>
                <p><b>Град:</b><span th:text="${winery.getCity().getName()}"></span></p>
                <!--                    getDistance metod sega za sega fiksno-->
                <p><b>Оддалеченост:</b> 59км</p>
                <p><b>Работно време:</b><span th:text="${winery.getWorkingTime()}"></span></p>
            </div>
            <div class="right_part">
                <p>
                    <i class="far fa-heart empty-heart"></i>
                    <i class="fas fa-heart full-heart"></i>
                </p>
                <p>
                    <i class="fas fa-star"></i>
                    <!-- <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>  -->
                    <span th:text="${winery.getReviewsAsString()}"></span></p>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/favoriteButton.js}" defer="defer"></script>
</body>
</html>
