<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/Layout :: base(title='About Us')}">
<body th:fragment="content">
    <div class="container-xl pt-5">
        <h3>За нас</h3>
        <p>
            Добредојдовте во Wineverse, вашиот врвен водич за богатиот и разновиден свет на македонското вино! Сместена
            во срцето на Балканот, Македонија може да се пофали со вековна традиција на производство на исклучителни
            вина, а нашата платформа е тука да го прослави и истражува ова винокултурно наследство.<br/><br/>

            Во Винариите веруваме дека секое шише раскажува уникатна приказна, обликувана од тероарот, сортите на грозје
            и вештите раце на страсните винари. Нашата мисија е да создадеме заедница која ја цени и поддржува процутот
            на винската култура во Македонија. Без разлика дали сте искусен енофил или љубопитен новодојденец, ве
            покануваме да тргнете на патување низ лозјата и визбите на овој живописен регион.
        </p>
    </div>
</body>
</html>
